/*********************
*media queries
***********************/
/*********************
*breakpoints
***********************/
body {
  margin: 0px;
  padding: 0px;
}

.container-homePage {
  height: 935px;
  margin: 0px;
  background-image: url("./img/website-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-homePage .container-navbar {
  height: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-homePage .container-navbar__name {
  height: 60px;
  padding-left: 30px;
  margin: 0px;
  display: flex;
  font-family: Mukta;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.container-homePage .container-navbar__options {
  width: 30%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.container-homePage .container-navbar__options__buttons {
  align-items: center;
  text-align: center;
}
.container-homePage .container-navbar__options__link {
  font-family: Mukta;
  font-size: bold;
  text-decoration: none;
  transition: all 0.1s ease 0s;
  color: black;
}
.container-homePage .container-navbar__options__link:hover {
  color: #919c8c;
  border-bottom: 3px solid #919c8c;
  transition: all 0.1s ease 0s;
}
.container-homePage .container-navbar__options #contactLink {
  border: 2px solid #919c8c;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.container-homePage .container-navbar__options #contactLink:hover {
  text-shadow: 0px 0px 6px rgba(151, 151, 151, 0.486);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.container-homePage .container-navbar__burgerView {
  display: none;
  cursor: pointer;
}
.container-homePage .container-navbar__burgerView__line {
  width: 25px;
  height: 3px;
  background-color: #4e4e4e;
  margin: 5px;
}
.container-homePage .container-slogan {
  height: 875px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.container-homePage .container-slogan__content {
  font-family: Anton;
  font-size: 50px;
  letter-spacing: 2px;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-homePage .container-slogan__button button {
  font-family: Mukta;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.548);
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  overflow: hidden;
  outline: white;
  transition: all 0.4s ease 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-homePage .container-slogan__button button:hover {
  background: #8a8a8a;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.2s ease 0s;
}

@media screen and (max-width: 768px) {
  body {
    display: none;
  }
}
.container-introPage {
  height: 875px;
}

/*# sourceMappingURL=main.css.map */
