@import "./_mixin.scss";
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0px;
    padding: 0px;
}

.container-homePage {
    height: 935px;
    margin: 0px;
    background-image: url("./img/website-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container-navbar {
        height: 62px;
        width: 100%;
        z-index: 1;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: whitesmoke;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &__name {
            height: 60px;
            padding-left: 30px;
            margin: 0px;
            display: flex;
            font-family: Mukta;
            font-weight: bolder;
            letter-spacing: 2px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        &__options {
            margin: 0px;
            padding: 0px;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            &__buttons {
                padding-left: 15px;
                padding-right: 15px;
                width: auto;
                align-items: center;
                text-align: center;
            }
            &__link {
                font-family: Mukta;
                font-size: bold;
                text-decoration: none;
                transition: all 0.1s ease 0s;
                color: black;
                &:hover {
                    color: #919c8c;
                    border-bottom: 3px solid #919c8c;
                    transition: all 0.1s ease 0s;
                }
            }
            #contact-link {
                border: 2px solid #919c8c;
                border-radius: 10px;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                &:hover {
                    text-shadow: 0px 0px 2px rgba(151, 151, 151, 0.692);
                    -webkit-box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.57);
                    -moz-box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.57);
                    transition: all 0.4s ease 0s;
                }
            }
        }
        &__burgerIcon {
            display: none;
            cursor: pointer;
            position: absolute;
            right: 33px;
            &__line {
                width: 25px;
                height: 3px;
                border-radius: 5px;
                background-color: rgb(78, 78, 78);
                margin: 5px;
            }
        }
    }
    @include MQ(M) {
        body {
            overflow-x: hidden;
        }
        .container-navbar__options {
            position: absolute;
            right: 0px;
            top: 49px;
            height: 400px;
            width: 100px;
            background-color: whitesmoke;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            // &__buttons {
            //     padding-bottom: 40px;
            // }
        }
        .container-navbar__expand {
            transform: translateX(0%);
        }
        .container-navbar__options__buttons {
            opacity: 1;
        }
        .container-navbar__burgerIcon {
            display: block;
        }
    }
    .container-slogan {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        &__content {
            text-transform: uppercase;
            font-family: Anton;
            font-size: 2.5rem;
            letter-spacing: 0.1rem;
            height: 35%;
            width: 100%;
            margin-top: 5%;
            margin-bottom: 2%;
            word-spacing: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &__button button {
            font-family: Mukta;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 1px;
            text-decoration: none;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: 2px solid rgba(255, 255, 255, 0.548);
            border-radius: 15px;
            padding-left: 35px;
            padding-right: 35px;
            cursor: pointer;
            overflow: hidden;
            outline: white;
            transition: all 0.4s ease 0s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover {
                background: #8a8a8a;
                letter-spacing: 1px;
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
                transition: all 0.2s ease 0s;
            }
        }
    }
    .container_socialMedia {
        height: 40px;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 72%;
        &__link {
            height: 40px;
            width: 40px;
            padding: 10px;
            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}

.container-introPage {
    height: 935px;
    margin: 0px;
    background-image: url("./img/website-background-blur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__aboutTag {
        width: 60%;
        height: 70%;
        border-width: 0px;
        border-style: solid;
        border-radius: 5px;
        border-color: rgba(255, 255, 255, 0.548);
        box-shadow: 0px 0px 60px 3px rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        &__iconImg {
            position: absolute;
            top: 6.5rem;
            #iconImg {
                height: 30%;
                width: 30%;
            }
        }
        &__content {
            height: 50%;
            width: 80%;
            position: absolute;
            bottom: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Ropa Sans, sans-serif;
            font-weight: bold;
            font-size: 1.2rem;
            color: rgb(8, 8, 8);
            #briefIntro {
                justify-content: center;
                text-align: start;
                height: auto;
                width: auto;
                white-space: pre-line;
                line-height: 2rem;
                letter-spacing: 1px;
                padding-left: 20px;
                margin: 0px;
            }
        }
    }
    &__eduTag {
        position: absolute;
        top: 25%;
        height: 60%;
        width: 50%;
        #eduList {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            list-style-type: none;
            margin: 0px;
            padding-left: 0.8rem;
            font-family: Ropa Sans, sans-serif;
            font-size: 1.2rem;
            .container-introPage__eduTag__item__title {
                font-weight: bold;
                padding-bottom: 0.8rem;
            }
            .container-introPage__eduTag__item__description {
                padding-bottom: 0.8rem;
            }
            .container-introPage__eduTag__item__detail {
                padding-bottom: 6rem;
            }
        }
    }
    &__expTag {
        position: absolute;
        top: 16%;
        height: 70%;
        width: 60%;
        #expList {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            list-style-type: none;
            margin: 0px;
            padding-left: 0.5rem;
            font-family: Ropa Sans, sans-serif;
            font-size: 1.2rem;
            .container-introPage__expTag__item__company {
                font-weight: bold;
                padding-bottom: 0.8rem;
            }
            .container-introPage__expTag__item__duration {
                padding-bottom: 0.8rem;
            }
            .container-introPage__expTag__item__title {
                padding-bottom: 0.8rem;
            }
            .container-introPage__expTag__item__duty {
                padding-bottom: 2rem;
            }
        }
    }
    &__codeTag {
        height: 50%;
        width: 60%;
        position: absolute;
        top: 25%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        font-family: Ropa Sans, sans-serif;
        font-size: 1.2rem;
        display: none;
        &__content {
            height: 20%;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                height: 80%;
                width: 80%;
            }
            &__word {
                padding-top: 1rem;
                height: auto;
                width: auto;
            }
        }
    }
    &__sideMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: auto;
        left: 7.5%;
        &__dot {
            width: 6px;
            height: 6px;
            border-radius: 10px;
            background-color: whitesmoke;
            margin: 10px;
        }
        &__line {
            width: 6px;
            height: 40px;
            background-color: rgb(245, 245, 245, 0.6);
            margin: 15px;
            border-radius: 5px;
        }
        &__content {
            width: 23px;
            height: 23px;
            margin: 0.2rem;
            cursor: pointer;
        }
    }
}

.container-servicePage {
    height: 935px;
    margin: 0px;
    background-image: url("./img/website-background-blur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-contactPage {
    height: 935px;
    margin: 0px;
    background-image: url("./img/website-background-blur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}