/*********************
*media queries
***********************/
/*********************
*breakpoints
***********************/
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0px;
  padding: 0px;
}

.container-homePage {
  height: 935px;
  margin: 0px;
  background-image: url("./img/website-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-homePage .container-navbar {
  height: 62px;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-homePage .container-navbar__name {
  height: 60px;
  padding-left: 30px;
  margin: 0px;
  display: flex;
  font-family: Mukta;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.container-homePage .container-navbar__options {
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.container-homePage .container-navbar__options__buttons {
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  align-items: center;
  text-align: center;
}
.container-homePage .container-navbar__options__link {
  font-family: Mukta;
  font-size: bold;
  text-decoration: none;
  transition: all 0.1s ease 0s;
  color: black;
}
.container-homePage .container-navbar__options__link:hover {
  color: #919c8c;
  border-bottom: 3px solid #919c8c;
  transition: all 0.1s ease 0s;
}
.container-homePage .container-navbar__options #contact-link {
  border: 2px solid #919c8c;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.container-homePage .container-navbar__options #contact-link:hover {
  text-shadow: 0px 0px 2px rgba(151, 151, 151, 0.692);
  -webkit-box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.container-homePage .container-navbar__burgerIcon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 33px;
}
.container-homePage .container-navbar__burgerIcon__line {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: #4e4e4e;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .container-homePage body {
    overflow-x: hidden;
  }
  .container-homePage .container-navbar__options {
    position: absolute;
    right: 0px;
    top: 49px;
    height: 400px;
    width: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .container-homePage .container-navbar__expand {
    transform: translateX(0%);
  }
  .container-homePage .container-navbar__options__buttons {
    opacity: 1;
  }
  .container-homePage .container-navbar__burgerIcon {
    display: block;
  }
}
.container-homePage .container-slogan {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.container-homePage .container-slogan__content {
  font-family: Anton;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  height: 35%;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-homePage .container-slogan__button button {
  font-family: Mukta;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.548);
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  overflow: hidden;
  outline: white;
  transition: all 0.4s ease 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-homePage .container-slogan__button button:hover {
  background: #8a8a8a;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.2s ease 0s;
}
.container-homePage .container_socialMedia {
  height: 40px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 72%;
}
.container-homePage .container_socialMedia a {
  height: 40px;
  width: 40px;
  padding: 5px;
}
.container-homePage .container_socialMedia a img {
  height: 40px;
  width: 40px;
}

.container-introPage {
  height: 875px;
  margin: 0px;
  background-image: url("./img/website-background-blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-introPage__aboutTag {
  width: 60%;
  height: 70%;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.548);
  box-shadow: 0px 0px 60px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.container-introPage__aboutTag__iconImg {
  position: absolute;
  top: 6.5rem;
}
.container-introPage__aboutTag__iconImg #iconImg {
  height: 30%;
  width: 30%;
}
.container-introPage__aboutTag__content {
  height: 50%;
  width: 80%;
  position: absolute;
  bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mukta;
  font-weight: bold;
  font-size: 1.2rem;
  color: #080808;
}
.container-introPage__aboutTag__content #briefIntro {
  justify-content: center;
  text-align: start;
  height: auto;
  width: auto;
  white-space: pre-line;
  line-height: 2rem;
  letter-spacing: 1px;
  padding-left: 20px;
  margin: 0px;
}
.container-introPage__sideMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: auto;
  left: 7.5%;
}
.container-introPage__sideMenu__dot {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.6);
  margin: 10px;
}
.container-introPage__sideMenu__line {
  width: 6px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0.6);
  margin: 15px;
  border-radius: 5px;
}
.container-introPage__sideMenu__edu {
  width: 30px;
  height: 30px;
}
.container-introPage__sideMenu__exp {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=main.css.map */
