body {
    margin: 0px;
}

.container-navbar {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__name {
        text-align: center;
        align-items: center;
        padding-left: 30px;
    }
    &__options {
        height: 60px;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        margin: 0px;
        padding-right: 20px;
    }
    &__buttons {
        align-items: center;
        text-align: center;
        padding: 8px;
    }
    &__link {
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        color: black;
        &:hover {
            color: #919c8c;
        }
    }
}