body {
    margin: 0px;
    background-image: url("./img/website-background.jpg");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-navbar {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &__name {
        height: 60px;
        display: flex;
        font-family: Mukta;
        font-weight: bolder;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        margin: 0px;
    }
    &__options {
        height: 60px;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        margin: 0px;
        padding-right: 20px;
        &__buttons {
            align-items: center;
            text-align: center;
            padding: 8px;
        }
        &__link {
            font-family: Mukta;
            font-size: bold;
            text-decoration: none;
            transition: all 0.1s ease 0s;
            color: black;
            &:hover {
                color: #919c8c;
                border-bottom: 3px solid #919c8c;
                transition: all 0.1s ease 0s;
            }
        }
        #contactLink {
            border: 2px solid #919c8c;
            border-radius: 15px;
            padding-left: 10px;
            padding-right: 10px;
            &:hover {
                text-shadow: 0px 0px 6px rgba(151, 151, 151, 0.486);
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                transition: all 0.4s ease 0s;
            }
        }
    }
}

.container-slogan {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100%;
    width: 100%;
    &__content {
        font-family: Anton;
        font-size: 40px;
        height: 300px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    &__button button {
        font-family: Mukta;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: 2px solid rgba(255, 255, 255, 0.548);
        border-radius: 15px;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
        overflow: hidden;
        outline: white;
        transition: all 0.4s ease 0s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
            background: #8a8a8a;
            letter-spacing: 1px;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
            transition: all 0.2s ease 0s;
        }
    }
}